[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = False
host_key_checking = False
timeout = 30
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default

[ssh_connection]
pipeslining = True
